body {
	background: white;
	font-size: 30px;
}

.calculator {
	top: 10%;
	right: 40%;
	position: absolute;
	height: 340px;
	color: pink;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-color:pink;
    border-radius: 15px;
}

.calc_container {
	display: none;
	/* display: flex; */
	margin: 15px;
	border-radius: 10px;
	color: white;
}

.zero {
	padding: 0 10px;
	width: 190px;
	height: 70px;
	margin: 0 auto;
	margin-bottom: 5px;
    margin-top: 5px;
	background-color:white;
	display: flex;
	justify-content: end;
	align-items: center;
	color:  rgb(144, 67, 80);
}
.zero.hidden {
	visibility: hidden;
	/* display: none; */
}

.x,
.y,
.z,
.plus,
.equals {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
    
}

.dentaku {
	display: grid;
	margin: 5px;
	grid-template-columns: 53px 53px 53px 51px;
   
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	background:white;
    color:  rgb(144, 67, 80);
	cursor: pointer;
	border-radius: 24px;
    margin-bottom: 5px;
}

.btn_clear,
.btn_percent,
.btn_pm {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	background: rgb(144, 67, 80);
    color: white;
	cursor: pointer;
	border-radius: 24px;
    margin-bottom: 5px;
}

.btn_plus,
.btn_minus,
.btn_multi,
.btn_div,
.btn_eq {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
    color: white;
	background:palevioletred;
	cursor: pointer;
	border-radius: 24px;
    margin-bottom: 5px;
}

.btn_0 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 98px;
	height: 48px;
	background: white;
	border-radius: 24px;
	cursor: pointer;
}

.dentaku_bottom {
	display: grid;
	grid-template-columns: 103px 53px 51px;
	margin-bottom: 5px;
    color:  rgb(144, 67, 80);
}
